{% extends "base.html" %}

{% block title %}Form for a new entry in the Research Constructicon{% endblock %}

{% block content %}

<div class="container">
<form action="{{ url_for('app_form.form_submit') }}" method="POST">
  <h1>Metadata</h1>
  <div>
    <label for="uri">Select your name:</label>
      <select id="uri" name="uri" onchange="generateProjectName(this.value)" required>
        {% for uri, name in uris %}
          <option value="{{ uri }}">{{ name }}</option>
        {% endfor %}
      </select>
  </div>

  <h1>General</h1>
    <h3>Title</h3>
    <div>
      <label for="construction">
        Give a name to the construction:
        <span title="The name of the language should not be part of the title" style="cursor: help;">ℹ️</span>
      </label>
      <input type="text" id="construction" name="construction" required>
    </div>

    <h3>Research Question</h3>
    <div>
      <label for="project-select">Select a research question:</label>
      <select id="project-select" name="projectId" onchange="generateFindingsName(this.value)" required>
        <option value="">-- Select a research question --</option>
      </select>
    </div>
    <div>
      <label for="Rquestion">You can specify a more specific research question within this general one:</label>
      <input type="text" id="Rquestion" name="Rquestion">
    </div>

  <h3>Findings</h3>
  <div>
    <label for="findings-select">Select findings related to this research question:</label>
    <select id="findings-select" name="findingsId" required onchange="toggleFindingsField()">
      <option value="">-- Select findings --</option>
    </select>
  </div>
  <div id="findings-container" style="display: none;">
    <label for="findings">What are the findings?</label>
    <textarea id="findings" name="findings" rows="3" style="resize: none;"></textarea>
    <label for="findings">(recommended field)</label>
  </div>

  <h3>Language</h3>
  <div id="treeDropdown"></div>
  <input type="hidden" id="language" name="language" required/>
  <input type="hidden" id="language_label" name="language_label"/>

  <h3>Construction Status</h3>
  <div>
    <label for="construction_status">Is this a construction?</label>
    <select id="construction_status" name="construction_status">
      <option value="none" selected></option> <!-- Default value for no selection -->
      <option value="yes">Yes</option>
      <option value="not_known">Not known</option>
      <option value="no">No</option>
    </select>
    <label for="construction_status">(recommended field)</label>
  </div>

  <h1>Meaning of the construction</h1>
  <h3>Meaning</h3>
  <div>
    <label for="meaning">The meaning/function of the whole construction:</label>
    <textarea id="meaning" name="meaning" rows="3" style="resize: none;"></textarea>
    <label for="meaning">(recommended field)</label>
  </div>

  <h3>Image-schema recruited</h3>
  <div>For the moment, there is no image-schema in the database.</div>
  <div>
    <label for="new_image_schema">If you wish to add an image-schema in the database, enter its name and Elodie will reach out to implement it</label>
    <input id="new_image_schema" name="new_image_schema" type="text">
    <label for="new_image_schema">(optional field)</label>
  </div>

  <h1>Form-meaning pairing of the elements</h1>
  <h3>Number of elements</h3>
  <label for="element_nb">Number of elements (at least 1):</label>
  <input type="number" id="element_nb" name="element_nb" min="1" oninput="generateFields()" required>
  <div id="ElementsContainer"></div>

  <h1>Cotext</h1>
  <div> We define cotext as information that applies to one or more elements (without being a description of the element itself). </div>

  <h3>Information Structure</h3>
  <div id="infoStructureContainer" class="info-structure-grid"></div>
  <label for="infoStructureContainer">(optional field)</label>

  <h3>Intonation</h3>
  <div>
    <label for="intonation">We have not yet developed an implementation of intonation in the constructicon. If intonation (or prosody) applies to your construction, please indicate below what kind of information you would like to provide, particularly in terms of terminology.</label>
    <textarea id="intonation" name="intonation" rows="3" style="resize: none;"></textarea>
    <label for="intonation">(optional field)</label>
  </div>

  <h3>Gesture</h3>
  <div>
    <label for="gesture">We have not yet developed an implementation of gesture in the constructicon. If gesture applies to your construction, please indicate below what kind of information you would like to provide, particularly in terms of terminology.</label>
    <textarea id="gesture" name="gesture" rows="3" style="resize: none;"></textarea>
    <label for="gesture">(optional field)</label>
  </div>

  <h1>Examples</h1>
  <div id="ExamplesContainer"></div>
  <button type="button" onclick="addExample()">Add Example</button>

  <h1>Links</h1>
  <h3>Inherits from</h3>
  <div>
    <input type="text" id="inheritsFrom" name="inheritsFrom" placeholder="Type construction name">
    <button type="button" id="add_inherits_from">Add</button>
  </div>
  <div id="selected_inherits_from"></div>
  <input type="hidden" id="selected_inherits_from_list" name="selected_inherits_from">
  <div>(optional field)</div>

  <h3>Inherited by</h3>
  <div>
    <input type="text" id="inheritedBy" name="inheritedBy" placeholder="Type construction name">
    <button type="button" id="add_inherited_by">Add</button>
  </div>
  <div id="selected_inherited_by"></div>
  <input type="hidden" id="selected_inherited_by_list" name="selected_inherited_by">
  <div>(optional field)</div>

  <h3>Metaphorical extension</h3>
  <div>
    <input type="text" id="metaphoricalExtension" name="metaphoricalExtension" placeholder="Type construction name">
    <button type="button" id="add_metaphorical_extension">Add</button>
  </div>
  <div id="selected_metaphorical_extension"></div>
  <input type="hidden" id="selected_metaphorical_extension_list" name="selected_metaphorical_extension">
  <div>(optional field)</div>

  <h3>Similarity links</h3>
  <div id="SimilarityContainer"></div>
  <button type="button" onclick="addSimilarityLink()">Add Similarity Link</button>
  <div>(optional field)</div>

  <h1>Research data</h1>
  <div>
    <label for="researchdata">Describe briefly the research data that you wish to link to: how many files? which format? are there specific requirements?</label>
    <textarea id="researchdata" name="researchdata" rows="7" style="resize: none;"></textarea>
    <label for="researchdata">(recommended field)</label>
  </div>

  <h1>Sources</h1>
  <h3>Reference</h3>
  <div>
    <label for="reference">This is what the content of the entry is based on.</label>
    <label for="reference">Go in your reference management software (e.g. Zotero) and export the content of the entry in Dublin Core (e.g. for Zotero: export as "Unqualified Dublin Core RDF"). Copy-and-paste the code provided below:</label>
    <textarea id="reference" name="reference" rows="10" cols="50" placeholder="Paste RDF code"></textarea>
    <label for="reference">(recommended field)</label>
  </div>
  <!-- Hidden field to store the URI of the UserItem -->
  <input type="hidden" id="ReferenceUserItemURI" name="ReferenceUserItemURI">

  <h3>Literature</h3>
  <div id="literature-container">
    <div class="literature-entry">
      List here the literature dedicated to this construction.<br>
      Go in your reference management software (e.g. Zotero) and export the content of the entry in Dublin Core (e.g. for Zotero: export as "Unqualified Dublin Core RDF").
      <label for="literature">Copy-and-paste the code provided below:</label>
      <textarea name="literature[]" rows="5" cols="50" placeholder="Paste RDF code"></textarea>
    </div>
  </div>
  <button type="button" id="add-literature-btn">Add another Literature entry</button>
  <div>(optional field)</div>

  <h3>Similar construction in other Constructicons</h3>
  <div id="url-container">
    <div class="url-entry">
      <label for="url">Please provide an URL:</label>
      <input type="url" name="url[]" placeholder="Enter URL">
    </div>
  </div>
  <button type="button" id="add-url-btn">Add another URL</button>
  <div>(optional field)</div>

  <h1>Well done! (don't forget to submit)</h1>
  <button type="submit" onclick="submitForm()">Submit Form</button>
</form>
</div>

<script>
      // Convert Python lists to JSON
      const projects = {{ projects|tojson|safe }}; // see static/js/generate-project-name.js
      const findings = {{ findings|tojson|safe }}; // see static/js/generate-list-of-findings.js
      const languageTreeUrl = "{{ url_for('static', filename='data/language_tree.json') }}"; // see static/js/generate-list-of-languages.js
      const semanticRoles = {{ semanticroles|tojson }}; // see static/js/generate-constrction-element.js
      const numberFeatures = {{ numberfeatures|tojson }}; // see static/js/generate-constrction-element.js
      const caseFeatures = {{ casefeatures|tojson }};  // see static/js/generate-constrction-element.js
      const tenseFeatures = {{ tensefeatures|tojson }};  // see static/js/generate-constrction-element.js
      const modus = {{ modus|tojson }}; // see static/js/generate-constrction-element.js
      const existingConstructions = {{ existingconstructions | tojson | safe }}; // List of existing constructions for autocompletes

</script>

<script src="{{ url_for('static', filename='js/generate-project-name.js') }}"></script>
<script src="{{ url_for('static', filename='js/generate-list-of-findings.js') }}"></script>
<script src="{{ url_for('static', filename='js/generate-list-of-languages.js') }}"></script>
<script src="{{ url_for('static', filename='js/generate-construction-elements.js') }}"></script>
<script src="{{ url_for('static', filename='js/generate-example-fields.js') }}"></script>
<script src="{{ url_for('static', filename='js/generate-inherits-from-field.js') }}"></script>
<script src="{{ url_for('static', filename='js/generate-inherited-by-field.js') }}"></script>
<script src="{{ url_for('static', filename='js/generate-metaphorical-extension-field.js') }}"></script>
<script src="{{ url_for('static', filename='js/generate-similarity-link-fields.js') }}"></script>
<script src="{{ url_for('static', filename='js/add-bibliography-and-url.js') }}"></script>

{% endblock %}
